@CHARSET "ISO-8859-1";
body,h1,h2,h3,h4,h5,h6,p,pre,ul,li,form {margin: 0px; padding: 0px;}

body {
	background: #FFF url('./images/bg1.jpg') top center no-repeat;
	font: 14px 'Trebuchet MS',helvetica,arial,verdana;
	color: #06335F;
}

#header {
	position: relative;
	overflow: hidden;
	width: 743px;
}

#header h1 {
	padding: 5px;
	color: #06335F;
}

#footer {
	position: relative;
	overflow: hidden;
	filter:progid/**/:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=crop src='./images/bottom.png');
	background: url('./images/bottom.png') top center no-repeat;
	height: 42px;
	padding: 20px 0 0 0;
}

#container {
	width: 743px;
	z-index: 200;
}

.container {
	padding: 20px;
	z-index: 200;
}

#footer h5 {
	padding: 5px;
	font: 10px Verdana;
	font-weight: normal;
	text-align: center;
}


h2 {
	padding: 5px;
	border-bottom:1px solid #0D529C;
	color: #06335F;
	text-align: right;
}

a {margin:0px;padding:0px;}
a:link, a:hover, a:visited, a:active {color:#06335F; font-weight:bold;}
a:link, a:visited, a:active {text-decoration: none;}
a:hover {color:#4773A9; text-decoration: none;}

.main {
	margin: 10px auto 10px auto;
	width: 743px;
	padding: 2px;
	color: #06335F;
	z-index: 200;
}

.error {
	background: #d04747;
	border: 1px solid #970000;
	color: #FFF;
	text-align: center;
	margin: 30px;
}

.error .error_container {
	padding: 5px;
}

.valid {
	background: #6ed047;
	border: 1px solid #449700;
	color: #FFF;
	text-align: center;
	margin: 30px;
}

.valid .valid_container {
	padding: 5px;
}

p {margin: 20px;}

div.field {margin:10pt 0pt 5px 0px;overflow:hidden;position:relative;clear:both;}
label {width:200px;position:relative;float:left;text-align:right;margin: 7px;}
input {border:none;padding:6px 6px 5px 7px;}

span.field {float:left;display:block;}
span.field input {border: 2px solid #06335F; margin-left: 7px; padding: 5px; width:174px; -moz-border-radius: 5px; -webkit-border-radius:5px;}

hr.clear {clear:both;border:none;visibility:hidden; margin: 0px; padding: 10px;}

em {position:relative;float:left;display:block;color:#f00;width:14px;height:14px;background:url('./images/required.gif') top left no-repeat;text-indent:-2000px;font-size:0;top:7px;margin:0 0 0 10px;}
em.me {position: inherit;float: none;display: inline-block;color:#f00;width:14px;height:14px;background:url('./images/required.gif') top left no-repeat;text-indent: inherit;font-size:0;margin:0 0 0 0;}

.button {
	position: relative;
	float: right;
	border: none;
	width:108px;
	height:30px;
	text-align: center;
	padding: 0;
	margin: 0 15px 0 15px;
	padding: 5px 0;
	filter:progid/**/:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=crop src='./images/continue.png');
	background:url('./images/continue.png') top no-repeat;
	color: #FFF;
	font-weight: bold;
	cursor: pointer;
	background-image: none;
}

.button[class] {
	background:url('./images/continue.png') top no-repeat;
}

.button:hover {
	background:url('./images/continue.png') bottom no-repeat;
	color: #FFF;
}
ul.menu {
	margin: 0px;
	padding: 0px;
	text-align: left;
}

ul.menu li {
	margin: 2px;
	padding: 2px 2px 2px 10px;
	list-style-type: none;
	display: block;
}

ul.menu a {
	margin: 0px;
	padding: 2px 10px 2px 2px;
	list-style-type: none;
	display: block;
}

ul.menu a:hover {
	margin: 0px;
	padding: 2px 10px 2px 2px;
	list-style-type: none;
	display: block;
}